@import "../../stylesheets/utils";

.header .nav .burger {
  width: 32px;
  height: 32px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  @include prefix(transition, all .2s);

  &:hover {
    opacity: .5;
  }

  .bun {
    width: 22px;
    height: 2px;
    background: #222;
    margin-bottom: 4px;
    @include prefix(transition, all .4s);
    position: relative;
    @include prefix(transform-origin, 100%);
    top: 8px;
  }

  @media only screen and (min-width: 530px) {
    display: none;
  }
}

.header .nav.open .burger {
  .bun {
    position: absolute;
    top: 50%;
  }
  .bun-top {
    @include prefix(transform, rotate(-45deg));
    @include prefix(transform-origin, 50%);
  }
  .bun-bottom {
    @include prefix(transform, rotate(45deg));
    @include prefix(transform-origin, 50%);
  }
}
