@import '../../stylesheets/utils';

.page-wrapper .page-contact {
  background: #333;
  color: #fff;

  .social-icons {
    [class*=icon-] {
      display: inline-block;
      margin: 0 20px;

      &:hover {
        color: $yellow;
      }
    }
  }
}
